

<div class="container">
<!-- <div class="container" id="portal">
	<h1>My Portal</h1>
</div><br> -->
<div class="spacer"></div>
<!-- <div id="map-canvas"></div> -->
	<%if current_user %>
		<%= link_to "Create New League", new_league_path %>
	<% else %>
		<h4><%= link_to "Sign-In", new_user_session_path %> to create a new league</h4>
	<% end %>
	<div class="wrapper">
  	<h3 class="title">All Leagues</h3>
	  
	  <div id="myleagues">
	  	<table class="table table-striped">

	  		<thead>
			  	<tr>
			  		<th>Name</th>
			  		<th>Organizer</th>
			  		<th>City, State</th>
			  		<th>Begins</th>
			  		<th>Status</th>
			  	</tr>
			  </thead>
			  <tbody>
			  	<% @leagues.each do |l| %>
			  	<tr onclick="document.location = '../leagues/' + <%=l.id%>;" id="trigger" class=<%=
			  								if l.status == "open"
			  										"success"
			  								elsif l.status == "full"
			  										"warning"
			  								else
			  										"info"
			  							 	end 
			  						%> >
			  		<td><%= l.name %></td>
			  		<td><%= l.organizer %></td>
			  		<% loc = Location.where(:league_id => l.id).first %>
			  		<td><% if loc %><%= loc.city %>, <%= loc.state %><% end %></td>
			  		<td><%= l.begin_date.strftime("%b %d, %Y") %></td>
			  		<td><%= l.status %></td>
			  	</tr>
			  	<% end %>
			  </tbody>
		  </table>
	  </div>
	</div>  

</div>


