<div class="container">
  <%= nested_form_for @league, url: {action: "create"} do |f| %>
  <div class="row">
    <div class="col-md-6">
    
      <h1>Register a new league</h1>

      

      	<label>League Name: </label><%= f.text_field :name, class: "form-control" %>
      	<label>Organizer: </label><%= f.text_field :organizer, class: "form-control" %>
      	<label>Organization: </label><%= f.text_field :orginazation, class: "form-control" %>
        <label>Description:</label> <%= f.text_area :description, class: "form-control" %>
        <div class="row">
          <div class="col-md-4">
            <label>Start Date: </label><br>
            <%= f.date_field :begin_date, class: "form-control" %>
          </div>
          <div class="col-md-4">
            <label>End Date: </label><br>
            <%= f.date_field :end_date, class: "form-control" %>
          </div>
        
          <div class="col-md-4">
            <label>Max Teams:</label> 
            <%= f.number_field :max_teams, class: "form-control" %> 
          </div>
        </div>
        <div class="form-group">
          <%= f.hidden_field :status, :value => "open" %>
        </div>
    </div>

    <div class="col-md-6">
        <h1>Set Location(s)</h1>
          <%= f.fields_for :locations do |builder| %>

            <label>Location Name: </label>
            <%= builder.text_field :loc_name, class: "form-control" %>
            <label>Street Address: </label>
            <%= builder.text_field :street, class: "form-control" %>
            <div class="row">
              <div class="col-md-4">
                <label>City: </label>
                <%= builder.text_field :city, class: "form-control" %>
              </div>
              <div class="col-md-4">
                <label>State: </label>
                <%= builder.text_field :state, :maxlength => 2,class: "form-control" %>
              </div>
              <div class="col-md-4">
                <label> Zip: </label>
                <%= builder.text_field :zip, :maxlength => 5, class: "form-control" %>
              </div>
            </div>
            <%= builder.link_to_remove "Remove this Location" %>
            
          <% end %>
        
        <p><%= f.link_to_add "Add a location", :locations %></p>

        <div class="form-group">
          <%= f.submit "Create League", class: "btn btn-success" %>
        </div>

      
    </div>
    
  </div>
  <% end %>
</div>

