<div class="contianer">
  <div class="form_page">
    <h1>Register a new league</h1>

    <%= nested_form_for @league, url: {action: "create"} do |f| %>

    	<label>League Name: </label><%= f.text_field :name, class: "form-control" %>
    	<label>Organizer: </label><%= f.text_field :organizer, class: "form-control" %>
    	<label>Organization: </label><%= f.text_field :orginazation, class: "form-control" %>
    	<label>Description:</label> <%= f.text_area :orginazation, class: "form-control" %>
      
      <div class="form-group">
          <label>Start Date</label>
          <%= f.date_select :begin_date, class: "form-control" %>
      </div>  

      <div class="form-group">
          <label>End Date</label>
          <%= f.date_select :end_date, class: "form-control" %>
      </div>

        <%= f.fields_for :locations do |builder| %>

          <label>Location Name: </label>
          <%= builder.text_field :loc_name, class: "form-control" %>
          <label>Street Address: </label>
          <%= builder.text_field :street, class: "form-control" %>
          <label>City: </label>
          <%= builder.text_field :city, class: "form-control" %>
          <label> Zip: </label>
          <%= builder.text_field :zip, class: "form-control" %>
          <%= builder.link_to_remove "Remove this Location" %>
          
        <% end %>
      
      <p><%= f.link_to_add "Add a location", :locations %></p>

      <div class="form-group">
        <%= f.submit "Create League" %>
      </div>

    <% end %>

  </div>
</div>

