<script type="text/javascript">
function initialize() {
  var mapOptions = {
    center: { lat: 34.03, lng: -118.15},
    zoom: 8
  };
  var map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);

	function getMarker(lat, lng) {
	  var myLatlng = new google.maps.LatLng(lat, lng);

	  var marker = new google.maps.Marker({
	    position: myLatlng,
	    map: map,
	    title:"Hello World!"
		});

	google.maps.event.addListener(marker, 'click', function() {
    infowindow.open(map,marker);
  });
  var infowindow = new google.maps.InfoWindow({
      content: contentString
  });

	}

	<% @locations.each do |location| %>

	<% if location.latitude %>
		getMarker(<%= location.latitude %>, <%= location.longitude %> ); 
	<%end %>
	<% mark_league = League.where(:id => location.league_id).first %>
		var contentString = '<div id="content">'+ '<p><%= mark_league.name %>, <%= mark_league.id %></p>' + '<br>'
							+ '<p><%= location.street %></p>' + '</div>';
	


	<% end %>

	var trig = getElementById("trigger")
	trig.addEventListener('click', function() {
    infowindow.open(map,marker);
  };
  var trig = getElementById("trigger")
  trig.addEventListener.style.border = "1px solid red";
  });


}

google.maps.event.addDomListener(window, 'load', initialize);
</script>


<div class="container">
<!-- <div class="container" id="portal">
	<h1>My Portal</h1>
</div><br> -->
<div class="spacer"></div>
<!-- <div id="map-canvas"></div> -->

	<div class="wrapper">
  	<h3 class="title"> My Leagues</h3>
	  <div><%= link_to "Add League", new_league_path, class: "btn btn-danger"%></div>
	  <div id="myleagues">
	  	<table class="table table-striped">

	  		<thead>
			  	<tr>
			  		<th>Name</th>
			  		<th>Organizer</th>
			  		<th>City, State</th>
			  		<th>Begins</th>
			  		<th>Status</th>
			  		<th>Teams</th>
			  	</tr>
			  </thead>
			  <tbody>
			  	<% @my_leagues.each do |l| %>
			  	<tr onclick="document.location = '../leagues/' + <%=l.id%>;" id="trigger" class=<%=
			  								if l.status == "open"
			  										"success"
			  								elsif l.status == "full"
			  										"warning"
			  								else
			  										"info"
			  							 	end 
			  						%> >
			  		<td><%= l.name %></td>
			  		<td><%= l.organizer %></td>
			  		<% loc = Location.where(:league_id => l.id).first %>
			  		<td><% if loc %><%= loc.city %>, <%= loc.state %><% end %></td>
			  		<td><%= l.begin_date.strftime("%b %d, %Y") %></td>
			  		<td><%= l.status %></td>
			  		<td>0 / <%= l.max_teams %></td>
			  	</tr>
			  	<% end %>
			  </tbody>
		  </table>
	  </div>
	</div>  
						<!-- <div class="row">
						  <div class="col-md-6">
						  	<h3 class="title">Teams</h3>
						  	<table class="table table-striped">
						  		<thead>
								  	<tr>
								  		<th>Name</th>
								  		<th>Players</th>
								  	</tr>
								  </thead>
								  <tbody>
								  	<%# @my_teams.each do |t| %>	
								  		<tr>
								  			<td><#%= t.team_name %><td>
								  			<td>0</td>
								  		</tr>
								  	<%# end %>
								  </tbody>
						  	</table>
						  </div>
						  <div class="col-md-6">
						  	<h3 class="title">Players</h3>
						  </div>
						</div> -->
</div>